SalesDepot.Services/Web References/IPadAdminService/AdminController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:AdminControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AdminController" targetNamespace="urn:AdminControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:AdminControllerwsdl">
      <xsd:complexType name="GroupRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:GroupRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GroupRecord">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="users" type="tns:UserRecordArray" />
          <xsd:element name="libraries" type="tns:LibraryArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserRecord">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="groups" type="tns:GroupRecordArray" />
          <xsd:element name="libraries" type="tns:LibraryArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Library[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Library">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="pages" type="tns:LibraryPageArray" />
          <xsd:element name="autoWidgets" type="tns:AutoWidgetArray" />
          <xsd:element name="previewContainers" type="tns:UniversalPreviewContainerArray" />
          <xsd:element name="selected" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryPageArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryPage[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryPage">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="libraryName" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="folders" type="tns:LibraryFolderArray" />
          <xsd:element name="enableColumns" type="xsd:boolean" />
          <xsd:element name="columns" type="tns:ColumnArray" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="groups" type="tns:GroupRecordArray" />
          <xsd:element name="users" type="tns:UserRecordArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryFolderArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryFolder[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryFolder">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="rowOrder" type="xsd:int" />
          <xsd:element name="columnOrder" type="xsd:int" />
          <xsd:element name="borderColor" type="xsd:string" />
          <xsd:element name="windowBackColor" type="xsd:string" />
          <xsd:element name="windowForeColor" type="xsd:string" />
          <xsd:element name="headerBackColor" type="xsd:string" />
          <xsd:element name="headerForeColor" type="xsd:string" />
          <xsd:element name="windowFont" type="tns:Font" />
          <xsd:element name="headerFont" type="tns:Font" />
          <xsd:element name="headerAlignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:Banner" />
          <xsd:element name="files" type="tns:LibraryLinkArray" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Font">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="size" type="xsd:int" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="isItalic" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Banner">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="isEnabled" type="xsd:boolean" />
          <xsd:element name="image" type="xsd:string" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="imageAlignment" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryLinkArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryLink[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryLink">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="parentLinkId" type="xsd:string" />
          <xsd:element name="folderId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="fileRelativePath" type="xsd:string" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileExtension" type="xsd:string" />
          <xsd:element name="fileDate" type="xsd:string" />
          <xsd:element name="fileSize" type="xsd:int" />
          <xsd:element name="originalFormat" type="xsd:string" />
          <xsd:element name="note" type="xsd:string" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="type" type="xsd:int" />
          <xsd:element name="lineBreakProperties" type="tns:LineBreak" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:Banner" />
          <xsd:element name="enableFileCard" type="xsd:boolean" />
          <xsd:element name="fileCard" type="tns:FileCard" />
          <xsd:element name="previewId" type="xsd:string" />
          <xsd:element name="categories" type="tns:LinkCategoryArray" />
          <xsd:element name="tags" type="xsd:string" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="contentPath" type="xsd:string" />
          <xsd:element name="enableAttachments" type="xsd:boolean" />
          <xsd:element name="attachments" type="tns:AttachmentArray" />
          <xsd:element name="isRestricted" type="xsd:boolean" />
          <xsd:element name="assignedUsers" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LineBreak">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="note" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FileCard">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="title" type="xsd:string" />
          <xsd:element name="advertiser" type="xsd:string" />
          <xsd:element name="dateSold" type="xsd:string" />
          <xsd:element name="broadcastClosed" type="xsd:float" />
          <xsd:element name="digitalClosed" type="xsd:float" />
          <xsd:element name="publishingClosed" type="xsd:float" />
          <xsd:element name="salesName" type="xsd:string" />
          <xsd:element name="salesEmail" type="xsd:string" />
          <xsd:element name="salesPhone" type="xsd:string" />
          <xsd:element name="salesStation" type="xsd:string" />
          <xsd:element name="notes" type="tns:stringArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkCategoryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LinkCategory[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkCategory">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="category" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AttachmentArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Attachment[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Attachment">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="originalFormat" type="xsd:string" />
          <xsd:element name="previewId" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ColumnArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:Column[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Column">
        <xsd:all>
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="backColor" type="xsd:string" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="alignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:Banner" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AutoWidgetArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:AutoWidget[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AutoWidget">
        <xsd:all>
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="extension" type="xsd:string" />
          <xsd:element name="widget" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UniversalPreviewContainerArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UniversalPreviewContainer[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UniversalPreviewContainer">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="pngLinks" type="tns:stringArray" />
          <xsd:element name="pngPhoneLinks" type="tns:stringArray" />
          <xsd:element name="jpegLinks" type="tns:stringArray" />
          <xsd:element name="jpegPhoneLinks" type="tns:stringArray" />
          <xsd:element name="pdfLinks" type="tns:stringArray" />
          <xsd:element name="wmvLinks" type="tns:stringArray" />
          <xsd:element name="mp4Links" type="tns:stringArray" />
          <xsd:element name="ogvLinks" type="tns:stringArray" />
          <xsd:element name="oldOfficeFormatLinks" type="tns:stringArray" />
          <xsd:element name="newOfficeFormatLinks" type="tns:stringArray" />
          <xsd:element name="thumbsLinks" type="tns:stringArray" />
          <xsd:element name="thumbsPhoneLinks" type="tns:stringArray" />
          <xsd:element name="thumbsWidth" type="xsd:int" />
          <xsd:element name="thumbsHeight" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSessionKeyRequest">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setUserRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="firstName" type="xsd:string" />
    <wsdl:part name="lastName" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="assignedGroups" type="tns:GroupRecordArray" />
    <wsdl:part name="assignedPages" type="tns:LibraryPageArray" />
  </wsdl:message>
  <wsdl:message name="setUserResponse" />
  <wsdl:message name="deleteUserRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteUserResponse" />
  <wsdl:message name="getUsersRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="return" type="tns:UserRecordArray" />
  </wsdl:message>
  <wsdl:message name="setGroupRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserRecordArray" />
    <wsdl:part name="assignedPages" type="tns:LibraryPageArray" />
  </wsdl:message>
  <wsdl:message name="setGroupResponse" />
  <wsdl:message name="deleteGroupRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteGroupResponse" />
  <wsdl:message name="getGroupsRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupsResponse">
    <wsdl:part name="return" type="tns:GroupRecordArray" />
  </wsdl:message>
  <wsdl:message name="setPageRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserRecordArray" />
    <wsdl:part name="assignedGroups" type="tns:GroupRecordArray" />
  </wsdl:message>
  <wsdl:message name="setPageResponse" />
  <wsdl:message name="getLibrariesRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLibrariesResponse">
    <wsdl:part name="return" type="tns:LibraryArray" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:portType name="AdminControllerPortType">
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyRequest" />
      <wsdl:output message="tns:getSessionKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setUserRequest" />
      <wsdl:output message="tns:setUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:deleteUserRequest" />
      <wsdl:output message="tns:deleteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getUsersRequest" />
      <wsdl:output message="tns:getUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setGroupRequest" />
      <wsdl:output message="tns:setGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:deleteGroupRequest" />
      <wsdl:output message="tns:deleteGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getGroupsRequest" />
      <wsdl:output message="tns:getGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setPageRequest" />
      <wsdl:output message="tns:setPageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getLibrariesRequest" />
      <wsdl:output message="tns:getLibrariesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getGroupTemplatesRequest" />
      <wsdl:output message="tns:getGroupTemplatesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminControllerBinding" type="tns:AdminControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:AdminControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#setUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="urn:AdminControllerwsdl#getUsers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#setGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroups" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <soap:operation soapAction="urn:AdminControllerwsdl#setPage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <soap:operation soapAction="urn:AdminControllerwsdl#getLibraries" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroupTemplates" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminControllerService">
    <wsdl:port name="AdminControllerPort" binding="tns:AdminControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/admin/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>