SalesLibraries.ServiceConnector/Web References/InactiveUsersService/InactiveUsersController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:InactiveUsersControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="InactiveUsersController" targetNamespace="urn:InactiveUsersControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:InactiveUsersControllerwsdl">
      <xsd:complexType name="UserViewModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserViewModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserViewModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="role" type="xsd:int" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="dateLastActivity" type="xsd:string" />
          <xsd:element name="assignedGroups" type="tns:stringArray" />
          <xsd:element name="allGroups" type="xsd:boolean" />
          <xsd:element name="assignedLibraries" type="tns:stringArray" />
          <xsd:element name="allLibraries" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInactiveUsersIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInactiveUsersOut">
    <wsdl:part name="return" type="tns:UserViewModelArray" />
  </wsdl:message>
  <wsdl:message name="resetUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="resetUserOut" />
  <wsdl:message name="deleteUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteUserOut" />
  <wsdl:message name="getSessionKeyIn">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="InactiveUsersControllerPortType">
    <wsdl:operation name="getInactiveUsers">
      <wsdl:documentation />
      <wsdl:input message="tns:getInactiveUsersIn" />
      <wsdl:output message="tns:getInactiveUsersOut" />
    </wsdl:operation>
    <wsdl:operation name="resetUser">
      <wsdl:documentation />
      <wsdl:input message="tns:resetUserIn" />
      <wsdl:output message="tns:resetUserOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:documentation />
      <wsdl:input message="tns:deleteUserIn" />
      <wsdl:output message="tns:deleteUserOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation />
      <wsdl:input message="tns:getSessionKeyIn" />
      <wsdl:output message="tns:getSessionKeyOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InactiveUsersControllerBinding" type="tns:InactiveUsersControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getInactiveUsers">
      <soap:operation soapAction="urn:InactiveUsersControllerwsdl#getInactiveUsers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetUser">
      <soap:operation soapAction="urn:InactiveUsersControllerwsdl#resetUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="urn:InactiveUsersControllerwsdl#deleteUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:InactiveUsersControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:InactiveUsersControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InactiveUsersControllerService">
    <wsdl:port name="InactiveUsersControllerPort" binding="tns:InactiveUsersControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/inactiveUsers/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>