SalesDepot.Services/Web References/UtilityService/UtilityController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:UtilityControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="UtilityController" targetNamespace="urn:UtilityControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getSessionKeyRequest">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateContentRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateContentResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateHelpRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateHelpResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cleanExpiredEmailsRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cleanExpiredEmailsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="notifyDeadLinksRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="notifyDeadLinksResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="UtilityControllerPortType">
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyRequest" />
      <wsdl:output message="tns:getSessionKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateContent">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:updateContentRequest" />
      <wsdl:output message="tns:updateContentResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateHelp">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:updateHelpRequest" />
      <wsdl:output message="tns:updateHelpResponse" />
    </wsdl:operation>
    <wsdl:operation name="cleanExpiredEmails">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:cleanExpiredEmailsRequest" />
      <wsdl:output message="tns:cleanExpiredEmailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="notifyDeadLinks">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:notifyDeadLinksRequest" />
      <wsdl:output message="tns:notifyDeadLinksResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilityControllerBinding" type="tns:UtilityControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:UtilityControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContent">
      <soap:operation soapAction="urn:UtilityControllerwsdl#updateContent" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHelp">
      <soap:operation soapAction="urn:UtilityControllerwsdl#updateHelp" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cleanExpiredEmails">
      <soap:operation soapAction="urn:UtilityControllerwsdl#cleanExpiredEmails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyDeadLinks">
      <soap:operation soapAction="urn:UtilityControllerwsdl#notifyDeadLinks" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilityControllerService">
    <wsdl:port name="UtilityControllerPort" binding="tns:UtilityControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/utility/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>