SalesLibraries.ServiceConnector/Web References/StatisticService/StatisticController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:StatisticControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="StatisticController" targetNamespace="urn:StatisticControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:StatisticControllerwsdl">
      <xsd:complexType name="UserActivityArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserActivity[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserActivity">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="date" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="subType" type="xsd:string" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="groups" type="xsd:string" />
          <xsd:element name="ip" type="xsd:string" />
          <xsd:element name="os" type="xsd:string" />
          <xsd:element name="device" type="xsd:string" />
          <xsd:element name="browser" type="xsd:string" />
          <xsd:element name="details" type="tns:ActivityDetailArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ActivityDetailArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:ActivityDetail[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ActivityDetail">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MainUserReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:MainUserReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MainUserReportModel">
        <xsd:all>
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="groupUserCount" type="xsd:int" />
          <xsd:element name="userTotal" type="xsd:int" />
          <xsd:element name="groupTotal" type="xsd:int" />
          <xsd:element name="userLogins" type="xsd:int" />
          <xsd:element name="groupLogins" type="xsd:int" />
          <xsd:element name="userDocs" type="xsd:int" />
          <xsd:element name="groupDocs" type="xsd:int" />
          <xsd:element name="userVideos" type="xsd:int" />
          <xsd:element name="groupVideos" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MainGroupReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:MainGroupReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MainGroupReportModel">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="logins" type="xsd:int" />
          <xsd:element name="docs" type="xsd:int" />
          <xsd:element name="videos" type="xsd:int" />
          <xsd:element name="totals" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AccessReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:AccessReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AccessReportModel">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="userCount" type="xsd:int" />
          <xsd:element name="activeCount" type="xsd:int" />
          <xsd:element name="activeNames" type="xsd:string" />
          <xsd:element name="inactiveCount" type="xsd:int" />
          <xsd:element name="inactiveNames" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="QuizPassUserReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:QuizPassUserReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="QuizPassUserReportModel">
        <xsd:all>
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="quizName" type="xsd:string" />
          <xsd:element name="topLevelName" type="xsd:string" />
          <xsd:element name="quizPassDate" type="xsd:string" />
          <xsd:element name="quizTryCount" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="QuizPassGroupReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:QuizPassGroupReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="QuizPassGroupReportModel">
        <xsd:all>
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="quizName" type="xsd:string" />
          <xsd:element name="topLevelName" type="xsd:string" />
          <xsd:element name="userCount" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="VideoLinkInfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:VideoLinkInfo[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VideoLinkInfo">
        <xsd:all>
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="linkName" type="xsd:string" />
          <xsd:element name="linkNote" type="xsd:string" />
          <xsd:element name="hoverNote" type="xsd:string" />
          <xsd:element name="categoryGroups" type="xsd:string" />
          <xsd:element name="categoryTags" type="xsd:string" />
          <xsd:element name="keywords" type="xsd:string" />
          <xsd:element name="mp4Url" type="xsd:string" />
          <xsd:element name="thumbUrl" type="xsd:string" />
          <xsd:element name="station" type="xsd:string" />
          <xsd:element name="linkDate" type="xsd:string" />
          <xsd:element name="fileDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FileActivityReportModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:FileActivityReportModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FileActivityReportModel">
        <xsd:all>
          <xsd:element name="fileType" type="xsd:string" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileLink" type="xsd:string" />
          <xsd:element name="fileDetail" type="xsd:string" />
          <xsd:element name="fileExtension" type="xsd:string" />
          <xsd:element name="library" type="xsd:string" />
          <xsd:element name="activityCount" type="xsd:int" />
          <xsd:element name="group" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryFilesModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryFilesModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryFilesModel">
        <xsd:all>
          <xsd:element name="library" type="xsd:string" />
          <xsd:element name="libraryDate" type="xsd:string" />
          <xsd:element name="linkName" type="xsd:string" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileType" type="xsd:string" />
          <xsd:element name="fileFormat" type="xsd:string" />
          <xsd:element name="categories" type="xsd:string" />
          <xsd:element name="keywords" type="xsd:string" />
          <xsd:element name="fileDate" type="xsd:string" />
          <xsd:element name="linkAddDate" type="xsd:string" />
          <xsd:element name="linkModifyDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActivitiesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActivitiesOut">
    <wsdl:part name="return" type="tns:UserActivityArray" />
  </wsdl:message>
  <wsdl:message name="getMainUserReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMainUserReportOut">
    <wsdl:part name="return" type="tns:MainUserReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getMainGroupReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMainGroupReportOut">
    <wsdl:part name="return" type="tns:MainGroupReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getAccessReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAccessReportOut">
    <wsdl:part name="return" type="tns:AccessReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getQuizPassUserReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getQuizPassUserReportOut">
    <wsdl:part name="return" type="tns:QuizPassUserReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getQuizPassGroupReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getQuizPassGroupReportOut">
    <wsdl:part name="return" type="tns:QuizPassGroupReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getVideoLinkInfoIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVideoLinkInfoOut">
    <wsdl:part name="return" type="tns:VideoLinkInfoArray" />
  </wsdl:message>
  <wsdl:message name="getFileActivityReportIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getFileActivityReportOut">
    <wsdl:part name="return" type="tns:FileActivityReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getFileActivityReportLegacyIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getFileActivityReportLegacyOut">
    <wsdl:part name="return" type="tns:FileActivityReportModelArray" />
  </wsdl:message>
  <wsdl:message name="getLibraryFilesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLibraryFilesOut">
    <wsdl:part name="return" type="tns:LibraryFilesModelArray" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyIn">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="StatisticControllerPortType">
    <wsdl:operation name="getActivities">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getActivitiesIn" />
      <wsdl:output message="tns:getActivitiesOut" />
    </wsdl:operation>
    <wsdl:operation name="getMainUserReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getMainUserReportIn" />
      <wsdl:output message="tns:getMainUserReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getMainGroupReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getMainGroupReportIn" />
      <wsdl:output message="tns:getMainGroupReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccessReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getAccessReportIn" />
      <wsdl:output message="tns:getAccessReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuizPassUserReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getQuizPassUserReportIn" />
      <wsdl:output message="tns:getQuizPassUserReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuizPassGroupReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getQuizPassGroupReportIn" />
      <wsdl:output message="tns:getQuizPassGroupReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getVideoLinkInfo">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getVideoLinkInfoIn" />
      <wsdl:output message="tns:getVideoLinkInfoOut" />
    </wsdl:operation>
    <wsdl:operation name="getFileActivityReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getFileActivityReportIn" />
      <wsdl:output message="tns:getFileActivityReportOut" />
    </wsdl:operation>
    <wsdl:operation name="getFileActivityReportLegacy">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getFileActivityReportLegacyIn" />
      <wsdl:output message="tns:getFileActivityReportLegacyOut" />
    </wsdl:operation>
    <wsdl:operation name="getLibraryFiles">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getLibraryFilesIn" />
      <wsdl:output message="tns:getLibraryFilesOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyIn" />
      <wsdl:output message="tns:getSessionKeyOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticControllerBinding" type="tns:StatisticControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getActivities">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getActivities" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMainUserReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getMainUserReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMainGroupReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getMainGroupReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccessReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getAccessReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuizPassUserReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getQuizPassUserReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuizPassGroupReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getQuizPassGroupReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVideoLinkInfo">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getVideoLinkInfo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileActivityReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getFileActivityReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileActivityReportLegacy">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getFileActivityReportLegacy" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraryFiles">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getLibraryFiles" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticControllerService">
    <wsdl:port name="StatisticControllerPort" binding="tns:StatisticControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/statistic/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>