SalesLibraries.ServiceConnector/Web References/UtilityService/UtilityController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:UtilityControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="UtilityController" targetNamespace="urn:UtilityControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="updateWallbinIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateWallbinOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateShortcutsIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateShortcutsOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateQuizzesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateQuizzesOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyIn">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="UtilityControllerPortType">
    <wsdl:operation name="updateWallbin">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:updateWallbinIn" />
      <wsdl:output message="tns:updateWallbinOut" />
    </wsdl:operation>
    <wsdl:operation name="updateShortcuts">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:updateShortcutsIn" />
      <wsdl:output message="tns:updateShortcutsOut" />
    </wsdl:operation>
    <wsdl:operation name="updateQuizzes">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:updateQuizzesIn" />
      <wsdl:output message="tns:updateQuizzesOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyIn" />
      <wsdl:output message="tns:getSessionKeyOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilityControllerBinding" type="tns:UtilityControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="updateWallbin">
      <soap:operation soapAction="urn:UtilityControllerwsdl#updateWallbin" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateShortcuts">
      <soap:operation soapAction="urn:UtilityControllerwsdl#updateShortcuts" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuizzes">
      <soap:operation soapAction="urn:UtilityControllerwsdl#updateQuizzes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:UtilityControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:UtilityControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilityControllerService">
    <wsdl:port name="UtilityControllerPort" binding="tns:UtilityControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/utility/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>