SalesDepot.Services/Web References/StatisticService/StatisticController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:StatisticControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="StatisticController" targetNamespace="urn:StatisticControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:StatisticControllerwsdl">
      <xsd:complexType name="UserActivityArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserActivity[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserActivity">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="date" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="subType" type="xsd:string" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="groups" type="xsd:string" />
          <xsd:element name="ip" type="xsd:string" />
          <xsd:element name="os" type="xsd:string" />
          <xsd:element name="device" type="xsd:string" />
          <xsd:element name="browser" type="xsd:string" />
          <xsd:element name="details" type="tns:ActivityDetailArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ActivityDetailArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:ActivityDetail[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ActivityDetail">
        <xsd:all>
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MainUserReportRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:MainUserReportRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MainUserReportRecord">
        <xsd:all>
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="groupUserCount" type="xsd:int" />
          <xsd:element name="userTotal" type="xsd:int" />
          <xsd:element name="groupTotal" type="xsd:int" />
          <xsd:element name="userLogins" type="xsd:int" />
          <xsd:element name="groupLogins" type="xsd:int" />
          <xsd:element name="userDocs" type="xsd:int" />
          <xsd:element name="groupDocs" type="xsd:int" />
          <xsd:element name="userVideos" type="xsd:int" />
          <xsd:element name="groupVideos" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MainGroupReportRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:MainGroupReportRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MainGroupReportRecord">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="logins" type="xsd:int" />
          <xsd:element name="docs" type="xsd:int" />
          <xsd:element name="videos" type="xsd:int" />
          <xsd:element name="totals" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="NavigationUserReportRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:NavigationUserReportRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="NavigationUserReportRecord">
        <xsd:all>
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="groupUserCount" type="xsd:int" />
          <xsd:element name="userTotal" type="xsd:int" />
          <xsd:element name="groupTotal" type="xsd:int" />
          <xsd:element name="userLibraries" type="xsd:int" />
          <xsd:element name="groupLibraries" type="xsd:int" />
          <xsd:element name="userPages" type="xsd:int" />
          <xsd:element name="groupPages" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="NavigationGroupReportRecordArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:NavigationGroupReportRecord[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="NavigationGroupReportRecord">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="pages" type="xsd:int" />
          <xsd:element name="libs" type="xsd:int" />
          <xsd:element name="totals" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSessionKeyRequest">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActivitiesRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActivitiesResponse">
    <wsdl:part name="return" type="tns:UserActivityArray" />
  </wsdl:message>
  <wsdl:message name="getMainUserReportRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMainUserReportResponse">
    <wsdl:part name="return" type="tns:MainUserReportRecordArray" />
  </wsdl:message>
  <wsdl:message name="getMainGroupReportRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMainGroupReportResponse">
    <wsdl:part name="return" type="tns:MainGroupReportRecordArray" />
  </wsdl:message>
  <wsdl:message name="getNavigationUserReportRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNavigationUserReportResponse">
    <wsdl:part name="return" type="tns:NavigationUserReportRecordArray" />
  </wsdl:message>
  <wsdl:message name="getNavigationGroupReportRequest">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="dateStart" type="xsd:string" />
    <wsdl:part name="dateEnd" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNavigationGroupReportResponse">
    <wsdl:part name="return" type="tns:NavigationGroupReportRecordArray" />
  </wsdl:message>
  <wsdl:portType name="StatisticControllerPortType">
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyRequest" />
      <wsdl:output message="tns:getSessionKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getActivities">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getActivitiesRequest" />
      <wsdl:output message="tns:getActivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMainUserReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getMainUserReportRequest" />
      <wsdl:output message="tns:getMainUserReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMainGroupReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getMainGroupReportRequest" />
      <wsdl:output message="tns:getMainGroupReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNavigationUserReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getNavigationUserReportRequest" />
      <wsdl:output message="tns:getNavigationUserReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNavigationGroupReport">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getNavigationGroupReportRequest" />
      <wsdl:output message="tns:getNavigationGroupReportResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticControllerBinding" type="tns:StatisticControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivities">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getActivities" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMainUserReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getMainUserReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMainGroupReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getMainGroupReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNavigationUserReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getNavigationUserReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNavigationGroupReport">
      <soap:operation soapAction="urn:StatisticControllerwsdl#getNavigationGroupReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StatisticControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticControllerService">
    <wsdl:port name="StatisticControllerPort" binding="tns:StatisticControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/statistic/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>