SalesLibraries.ServiceConnector/Web References/AdminService/AdminController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:AdminControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AdminController" targetNamespace="urn:AdminControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:AdminControllerwsdl">
      <xsd:complexType name="GroupViewModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:GroupViewModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GroupViewModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="assignedUsers" type="tns:stringArray" />
          <xsd:element name="allUsers" type="xsd:boolean" />
          <xsd:element name="assignedLibraries" type="tns:stringArray" />
          <xsd:element name="allLibraries" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryPageViewModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryPageViewModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryPageViewModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="libraryName" type="xsd:string" />
          <xsd:element name="assignedGroups" type="tns:stringArray" />
          <xsd:element name="allGroups" type="xsd:boolean" />
          <xsd:element name="assignedUsers" type="tns:stringArray" />
          <xsd:element name="allUsers" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserViewModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserViewModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserViewModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="role" type="xsd:int" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="dateLastActivity" type="xsd:string" />
          <xsd:element name="assignedGroups" type="tns:stringArray" />
          <xsd:element name="allGroups" type="xsd:boolean" />
          <xsd:element name="assignedLibraries" type="tns:stringArray" />
          <xsd:element name="allLibraries" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserEditModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="role" type="xsd:int" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="dateLastActivity" type="xsd:string" />
          <xsd:element name="groups" type="tns:GroupViewModelArray" />
          <xsd:element name="libraries" type="tns:LibraryViewModelArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LibraryViewModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LibraryViewModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryViewModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="pages" type="tns:LibraryPageViewModelArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GroupEditModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="users" type="tns:UserViewModelArray" />
          <xsd:element name="libraries" type="tns:LibraryViewModelArray" />
          <xsd:element name="libraryIds" type="tns:stringArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryPage">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="libraryName" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="settings" type="tns:SoapLibraryPageSettings" />
          <xsd:element name="folders" type="tns:SoapLibraryFolderArray" />
          <xsd:element name="enableColumns" type="xsd:boolean" />
          <xsd:element name="columns" type="tns:SoapColumnArray" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="groups" type="tns:GroupViewModelArray" />
          <xsd:element name="users" type="tns:UserViewModelArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryPageSettings">
        <xsd:all>
          <xsd:element name="icon" type="xsd:string" />
          <xsd:element name="iconColor" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryFolderArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibraryFolder[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryFolder">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="rowOrder" type="xsd:int" />
          <xsd:element name="columnOrder" type="xsd:int" />
          <xsd:element name="borderColor" type="xsd:string" />
          <xsd:element name="windowBackColor" type="xsd:string" />
          <xsd:element name="windowForeColor" type="xsd:string" />
          <xsd:element name="headerBackColor" type="xsd:string" />
          <xsd:element name="headerForeColor" type="xsd:string" />
          <xsd:element name="windowFont" type="tns:Font" />
          <xsd:element name="headerFont" type="tns:Font" />
          <xsd:element name="headerAlignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="files" type="tns:SoapLibraryLinkArray" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Font">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="isItalic" type="xsd:boolean" />
          <xsd:element name="isUnderlined" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapBanner">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="isEnabled" type="xsd:boolean" />
          <xsd:element name="image" type="xsd:string" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="imageAlignment" type="xsd:string" />
          <xsd:element name="imageVerticalAlignment" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryLinkArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibraryLink[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryLink">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="parentLinkId" type="xsd:string" />
          <xsd:element name="folderId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="fileRelativePath" type="xsd:string" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileExtension" type="xsd:string" />
          <xsd:element name="fileDate" type="xsd:string" />
          <xsd:element name="fileSize" type="xsd:int" />
          <xsd:element name="originalFormat" type="xsd:string" />
          <xsd:element name="searchFormat" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="type" type="xsd:int" />
          <xsd:element name="extendedProperties" type="tns:BaseLinkSettings" />
          <xsd:element name="lineBreakProperties" type="tns:LineBreak" />
          <xsd:element name="widgetType" type="xsd:int" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="thumbnail" type="tns:SoapThumbnail" />
          <xsd:element name="oneDrive" type="tns:SoapOneDrive" />
          <xsd:element name="previewId" type="xsd:string" />
          <xsd:element name="superFilters" type="tns:LinkSuperFilterArray" />
          <xsd:element name="categories" type="tns:LinkCategoryArray" />
          <xsd:element name="tags" type="xsd:string" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="contentPath" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BaseLinkSettings">
        <xsd:all>
          <xsd:element name="note" type="xsd:string" />
          <xsd:element name="hoverNote" type="xsd:string" />
          <xsd:element name="showOnlyCustomHoverNote" type="xsd:boolean" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="isItalic" type="xsd:boolean" />
          <xsd:element name="isUnderline" type="xsd:boolean" />
          <xsd:element name="isSpecialFormat" type="xsd:boolean" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="isTextWordWrap" type="xsd:boolean" />
          <xsd:element name="isRestricted" type="xsd:boolean" />
          <xsd:element name="noShare" type="xsd:boolean" />
          <xsd:element name="assignedUsers" type="xsd:string" />
          <xsd:element name="deniedUsers" type="xsd:string" />
          <xsd:element name="quickLinkUrl" type="xsd:string" />
          <xsd:element name="quickLinkTitle" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LineBreak">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="note" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapThumbnail">
        <xsd:all>
          <xsd:element name="isEnabled" type="xsd:boolean" />
          <xsd:element name="image" type="xsd:string" />
          <xsd:element name="imagePadding" type="xsd:int" />
          <xsd:element name="imageAlignment" type="xsd:string" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="textPosition" type="xsd:string" />
          <xsd:element name="textAlignment" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapOneDrive">
        <xsd:all>
          <xsd:element name="url" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LinkSuperFilterArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LinkSuperFilter[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkSuperFilter">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LinkCategoryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LinkCategory[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkCategory">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="category" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapColumnArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapColumn[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapColumn">
        <xsd:all>
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="backColor" type="xsd:string" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="alignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="firstName" type="xsd:string" />
    <wsdl:part name="lastName" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="phone" type="xsd:string" />
    <wsdl:part name="assignedGroups" type="tns:GroupViewModelArray" />
    <wsdl:part name="assignedPages" type="tns:LibraryPageViewModelArray" />
    <wsdl:part name="role" type="xsd:int" />
    <wsdl:part name="sendInfoMessage" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="setUserOut" />
  <wsdl:message name="deleteUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteUserOut" />
  <wsdl:message name="getUsersIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUsersOut">
    <wsdl:part name="return" type="tns:UserViewModelArray" />
  </wsdl:message>
  <wsdl:message name="getUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="userId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getUserOut">
    <wsdl:part name="return" type="tns:UserEditModel" />
  </wsdl:message>
  <wsdl:message name="isUserPasswordComplexIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="isUserPasswordComplexOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="setGroupIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserViewModelArray" />
    <wsdl:part name="assignedPages" type="tns:LibraryPageViewModelArray" />
  </wsdl:message>
  <wsdl:message name="setGroupOut" />
  <wsdl:message name="deleteGroupIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteGroupOut" />
  <wsdl:message name="getGroupsIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupsOut">
    <wsdl:part name="return" type="tns:GroupViewModelArray" />
  </wsdl:message>
  <wsdl:message name="getGroupIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="groupId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupOut">
    <wsdl:part name="return" type="tns:GroupEditModel" />
  </wsdl:message>
  <wsdl:message name="setPageIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserViewModelArray" />
    <wsdl:part name="assignedGroups" type="tns:GroupViewModelArray" />
  </wsdl:message>
  <wsdl:message name="setPageOut" />
  <wsdl:message name="getLibrariesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLibrariesOut">
    <wsdl:part name="return" type="tns:LibraryViewModelArray" />
  </wsdl:message>
  <wsdl:message name="getLibraryPageIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="pageId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLibraryPageOut">
    <wsdl:part name="return" type="tns:SoapLibraryPage" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesOut">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyIn">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="AdminControllerPortType">
    <wsdl:operation name="setUser">
      <wsdl:documentation />
      <wsdl:input message="tns:setUserIn" />
      <wsdl:output message="tns:setUserOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:documentation />
      <wsdl:input message="tns:deleteUserIn" />
      <wsdl:output message="tns:deleteUserOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:documentation />
      <wsdl:input message="tns:getUsersIn" />
      <wsdl:output message="tns:getUsersOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:documentation />
      <wsdl:input message="tns:getUserIn" />
      <wsdl:output message="tns:getUserOut" />
    </wsdl:operation>
    <wsdl:operation name="isUserPasswordComplex">
      <wsdl:documentation />
      <wsdl:input message="tns:isUserPasswordComplexIn" />
      <wsdl:output message="tns:isUserPasswordComplexOut" />
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <wsdl:documentation />
      <wsdl:input message="tns:setGroupIn" />
      <wsdl:output message="tns:setGroupOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:documentation />
      <wsdl:input message="tns:deleteGroupIn" />
      <wsdl:output message="tns:deleteGroupOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <wsdl:documentation />
      <wsdl:input message="tns:getGroupsIn" />
      <wsdl:output message="tns:getGroupsOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <wsdl:documentation />
      <wsdl:input message="tns:getGroupIn" />
      <wsdl:output message="tns:getGroupOut" />
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <wsdl:documentation />
      <wsdl:input message="tns:setPageIn" />
      <wsdl:output message="tns:setPageOut" />
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <wsdl:documentation />
      <wsdl:input message="tns:getLibrariesIn" />
      <wsdl:output message="tns:getLibrariesOut" />
    </wsdl:operation>
    <wsdl:operation name="getLibraryPage">
      <wsdl:documentation />
      <wsdl:input message="tns:getLibraryPageIn" />
      <wsdl:output message="tns:getLibraryPageOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <wsdl:documentation />
      <wsdl:input message="tns:getGroupTemplatesIn" />
      <wsdl:output message="tns:getGroupTemplatesOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation />
      <wsdl:input message="tns:getSessionKeyIn" />
      <wsdl:output message="tns:getSessionKeyOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminControllerBinding" type="tns:AdminControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="setUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#setUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="urn:AdminControllerwsdl#getUsers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#getUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserPasswordComplex">
      <soap:operation soapAction="urn:AdminControllerwsdl#isUserPasswordComplex" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#setGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroups" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <soap:operation soapAction="urn:AdminControllerwsdl#setPage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <soap:operation soapAction="urn:AdminControllerwsdl#getLibraries" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraryPage">
      <soap:operation soapAction="urn:AdminControllerwsdl#getLibraryPage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroupTemplates" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:AdminControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminControllerService">
    <wsdl:port name="AdminControllerPort" binding="tns:AdminControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/admin/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>