SalesLibraries.ServiceConnector/Web References/AdminService/AdminController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:AdminControllerwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AdminController" targetNamespace="urn:AdminControllerwsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:AdminControllerwsdl">
      <xsd:complexType name="GroupModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:GroupModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GroupModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="users" type="tns:UserModelArray" />
          <xsd:element name="allUsers" type="xsd:boolean" />
          <xsd:element name="libraries" type="tns:SoapLibraryArray" />
          <xsd:element name="libraryIds" type="tns:stringArray" />
          <xsd:element name="allLibraries" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserModelArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:UserModel[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserModel">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="login" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="phone" type="xsd:string" />
          <xsd:element name="role" type="xsd:int" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="groups" type="tns:GroupModelArray" />
          <xsd:element name="groupNames" type="xsd:string" />
          <xsd:element name="allGroups" type="xsd:boolean" />
          <xsd:element name="libraries" type="tns:SoapLibraryArray" />
          <xsd:element name="allLibraries" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibrary[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibrary">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="pages" type="tns:SoapLibraryPageArray" />
          <xsd:element name="autoWidgets" type="tns:SoapAutoWidgetArray" />
          <xsd:element name="previewContainers" type="tns:SoapUniversalPreviewContainerArray" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="config" type="tns:LibraryConfig" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryPageArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibraryPage[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryPage">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="libraryName" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="folders" type="tns:SoapLibraryFolderArray" />
          <xsd:element name="enableColumns" type="xsd:boolean" />
          <xsd:element name="columns" type="tns:SoapColumnArray" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="selected" type="xsd:boolean" />
          <xsd:element name="groups" type="tns:GroupModelArray" />
          <xsd:element name="allGroups" type="xsd:boolean" />
          <xsd:element name="users" type="tns:UserModelArray" />
          <xsd:element name="allUsers" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryFolderArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibraryFolder[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryFolder">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="rowOrder" type="xsd:int" />
          <xsd:element name="columnOrder" type="xsd:int" />
          <xsd:element name="borderColor" type="xsd:string" />
          <xsd:element name="windowBackColor" type="xsd:string" />
          <xsd:element name="windowForeColor" type="xsd:string" />
          <xsd:element name="headerBackColor" type="xsd:string" />
          <xsd:element name="headerForeColor" type="xsd:string" />
          <xsd:element name="windowFont" type="tns:Font" />
          <xsd:element name="headerFont" type="tns:Font" />
          <xsd:element name="headerAlignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="files" type="tns:SoapLibraryLinkArray" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Font">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="size" type="xsd:int" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="isItalic" type="xsd:boolean" />
          <xsd:element name="isUnderlined" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapBanner">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="isEnabled" type="xsd:boolean" />
          <xsd:element name="image" type="xsd:string" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="imageAlignment" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryLinkArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapLibraryLink[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapLibraryLink">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="parentLinkId" type="xsd:string" />
          <xsd:element name="folderId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="fileRelativePath" type="xsd:string" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileExtension" type="xsd:string" />
          <xsd:element name="fileDate" type="xsd:string" />
          <xsd:element name="fileSize" type="xsd:int" />
          <xsd:element name="originalFormat" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="type" type="xsd:int" />
          <xsd:element name="extendedProperties" type="tns:BaseLinkSettings" />
          <xsd:element name="widgetType" type="xsd:int" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="previewId" type="xsd:string" />
          <xsd:element name="superFilters" type="tns:LinkSuperFilterArray" />
          <xsd:element name="categories" type="tns:LinkCategoryArray" />
          <xsd:element name="tags" type="xsd:string" />
          <xsd:element name="dateAdd" type="xsd:string" />
          <xsd:element name="dateModify" type="xsd:string" />
          <xsd:element name="contentPath" type="xsd:string" />
          <xsd:element name="isDead" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BaseLinkSettings">
        <xsd:all>
          <xsd:element name="note" type="xsd:string" />
          <xsd:element name="hoverNote" type="xsd:string" />
          <xsd:element name="isBold" type="xsd:boolean" />
          <xsd:element name="isItalic" type="xsd:boolean" />
          <xsd:element name="isUnderline" type="xsd:boolean" />
          <xsd:element name="isSpecialFormat" type="xsd:boolean" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="isRestricted" type="xsd:boolean" />
          <xsd:element name="noShare" type="xsd:boolean" />
          <xsd:element name="assignedUsers" type="xsd:string" />
          <xsd:element name="deniedUsers" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LinkSuperFilterArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LinkSuperFilter[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkSuperFilter">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LinkCategoryArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:LinkCategory[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LinkCategory">
        <xsd:all>
          <xsd:element name="linkId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="category" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapColumnArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapColumn[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapColumn">
        <xsd:all>
          <xsd:element name="pageId" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="order" type="xsd:int" />
          <xsd:element name="backColor" type="xsd:string" />
          <xsd:element name="foreColor" type="xsd:string" />
          <xsd:element name="font" type="tns:Font" />
          <xsd:element name="showText" type="xsd:boolean" />
          <xsd:element name="alignment" type="xsd:string" />
          <xsd:element name="enableWidget" type="xsd:boolean" />
          <xsd:element name="widget" type="xsd:string" />
          <xsd:element name="banner" type="tns:SoapBanner" />
          <xsd:element name="dateModify" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapAutoWidgetArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapAutoWidget[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapAutoWidget">
        <xsd:all>
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="extension" type="xsd:string" />
          <xsd:element name="widget" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SoapUniversalPreviewContainerArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="tns:SoapUniversalPreviewContainer[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SoapUniversalPreviewContainer">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="pngLinks" type="tns:stringArray" />
          <xsd:element name="pngPhoneLinks" type="tns:stringArray" />
          <xsd:element name="pdfLinks" type="tns:stringArray" />
          <xsd:element name="mp4Links" type="tns:stringArray" />
          <xsd:element name="mp4ThumbLinks" type="tns:stringArray" />
          <xsd:element name="newOfficeFormatLinks" type="tns:stringArray" />
          <xsd:element name="thumbsLinks" type="tns:stringArray" />
          <xsd:element name="thumbsPhoneLinks" type="tns:stringArray" />
          <xsd:element name="thumbsWidth" type="xsd:int" />
          <xsd:element name="thumbsHeight" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soap-enc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soap-enc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LibraryConfig">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="libraryId" type="xsd:string" />
          <xsd:element name="deadLinkSender" type="xsd:string" />
          <xsd:element name="deadLinkRecipients" type="xsd:string" />
          <xsd:element name="deadLinkSubject" type="xsd:string" />
          <xsd:element name="deadLinkBody" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="firstName" type="xsd:string" />
    <wsdl:part name="lastName" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="phone" type="xsd:string" />
    <wsdl:part name="assignedGroups" type="tns:GroupModelArray" />
    <wsdl:part name="assignedPages" type="tns:SoapLibraryPageArray" />
    <wsdl:part name="role" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="setUserOut" />
  <wsdl:message name="deleteUserIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="login" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteUserOut" />
  <wsdl:message name="getUsersIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUsersOut">
    <wsdl:part name="return" type="tns:UserModelArray" />
  </wsdl:message>
  <wsdl:message name="isUserPasswordComplexIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="isUserPasswordComplexOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="setGroupIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserModelArray" />
    <wsdl:part name="assignedPages" type="tns:SoapLibraryPageArray" />
  </wsdl:message>
  <wsdl:message name="setGroupOut" />
  <wsdl:message name="deleteGroupIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteGroupOut" />
  <wsdl:message name="getGroupsIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupsOut">
    <wsdl:part name="return" type="tns:GroupModelArray" />
  </wsdl:message>
  <wsdl:message name="setPageIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="assignedUsers" type="tns:UserModelArray" />
    <wsdl:part name="assignedGroups" type="tns:GroupModelArray" />
  </wsdl:message>
  <wsdl:message name="setPageOut" />
  <wsdl:message name="getLibrariesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getLibrariesOut">
    <wsdl:part name="return" type="tns:SoapLibraryArray" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesIn">
    <wsdl:part name="sessionKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getGroupTemplatesOut">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyIn">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getSessionKeyOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="AdminControllerPortType">
    <wsdl:operation name="setUser">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setUserIn" />
      <wsdl:output message="tns:setUserOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:deleteUserIn" />
      <wsdl:output message="tns:deleteUserOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getUsersIn" />
      <wsdl:output message="tns:getUsersOut" />
    </wsdl:operation>
    <wsdl:operation name="isUserPasswordComplex">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:isUserPasswordComplexIn" />
      <wsdl:output message="tns:isUserPasswordComplexOut" />
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setGroupIn" />
      <wsdl:output message="tns:setGroupOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:deleteGroupIn" />
      <wsdl:output message="tns:deleteGroupOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getGroupsIn" />
      <wsdl:output message="tns:getGroupsOut" />
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:setPageIn" />
      <wsdl:output message="tns:setPageOut" />
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getLibrariesIn" />
      <wsdl:output message="tns:getLibrariesOut" />
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getGroupTemplatesIn" />
      <wsdl:output message="tns:getGroupTemplatesOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input message="tns:getSessionKeyIn" />
      <wsdl:output message="tns:getSessionKeyOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminControllerBinding" type="tns:AdminControllerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="setUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#setUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="urn:AdminControllerwsdl#getUsers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserPasswordComplex">
      <soap:operation soapAction="urn:AdminControllerwsdl#isUserPasswordComplex" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#setGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="urn:AdminControllerwsdl#deleteGroup" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroups" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPage">
      <soap:operation soapAction="urn:AdminControllerwsdl#setPage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraries">
      <soap:operation soapAction="urn:AdminControllerwsdl#getLibraries" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupTemplates">
      <soap:operation soapAction="urn:AdminControllerwsdl#getGroupTemplates" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionKey">
      <soap:operation soapAction="urn:AdminControllerwsdl#getSessionKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AdminControllerwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminControllerService">
    <wsdl:port name="AdminControllerPort" binding="tns:AdminControllerBinding">
      <soap:address location="http://localhost/SalesLibraries/admin/quote?ws=1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>